body {
    text-align: center;
}

img {
    background: no-repeat center center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px; 
    width: auto;
}

.img1{
    background: no-repeat center center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%; 
    width: 300px;
}

.title{
    height: 35px;
}
