body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

* { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

a {
  text-decoration: none;
  color: #ff6c00;
}

.container {
  width: 500px;
  margin: 100px auto;  
}

.signup h3 {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.4em;
  color: #222;
  margin-bottom: 20px;
}

.signup h3 span {
  color: #6D8F65;
}


/* Social Signup */

.socialSignup {
  margin-bottom: 20px;
}

.socialSignup a {
  display: inline-block;
  width: 48%;
  margin-right: 3%;
  padding: 15px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
}

.socialSignup a:last-child {
  margin-right: 0
}

.fbSignup {
  background-color: #39579A;
}

.twSignup {
  background-color: #00ABF1;
}

/* Social Ends here */

.signupDivider {
  color: #999;
  margin-bottom: 20px;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .8em;

  background-color: #fff;
}

.divider {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #eee;
  margin-top: -20px;
  margin-bottom: 20px;
}

/* Normal Signup */

.signupForm input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 1em;
  border: 1px solid #e8e8e8;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #444;
}

.signupForm input.half {
  width: 50%;
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 20px;
}

.signupForm input.half.confirmpass {
  margin-right: 0;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  
}

.signupForm textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 1em;
  border: 1px solid #e8e8e8;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #444;
}

.signupForm textarea.half {
  width: 50%;
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 20px;
}

.signupForm input.textarea.confirmpass {
  margin-right: 0;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  
}

.signupForm .promocode {
  display: none;
}

/* sign up ends here */

.promoLabel {
  margin: 20px 0;
  color: #888;
  font-size: .9em;

  display: block;
  clear: both;
}

.terms {
  font-size: .8em;
  display: block;
  width: 70%;
  line-height: 1.6em;
  color: #aaa;
  margin-top:20px;
  
}

.terms a {
  color: #888;
  text-decoration: underline;
}

/* Signup Button */

.signupBtn {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 15px;
  background-color: #ff6c00;
  border: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  
}

.signupBtn1 {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 15px;
  background-color: #ff6c00;
  border: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  
}

#radiogp {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 1em;
  border: 1px solid #e8e8e8;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #444;
}

#noresize {
    resize: none;
}